@model ProgramacionModel

@{
    ViewBag.MenuActual = ConstantesWeb.Menu.Programacion;
    ViewBag.MenuItemActual = ConstantesWeb.MenuItem.AsignarOrdenVenta;
}

@section styles{
    <style type="text/css">
        .well {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 10px;
        }
    </style>
}

@if (Model.ProgramaVigente == null)
{
    <header class="header-crumb">
        <div class="container">
            <h2>Asignar ordenes de venta</h2>
        </div>
    </header>

    <main>
        <section>
            <div class="well">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>No existe un Programa Vigente.</h3>
                    </div>
                </div>
            </div>
        </section>
    </main>
}
else
{
    <header class="header-crumb">
        <div class="container">
            <h2>Asignar ordenes de venta</h2>
        </div>
    </header>
    
    <main>
        <section>
            <div class="container">
                <div class="well">
                    <div class="row">
                        <div class="col-md-7">
                            <table class="table table-form">
                                <tbody>
                                    <tr>
                                        <td><strong>Programa N°:</strong> @Model.ProgramaVigente.Numero</td>
                                        <td><strong>F.Inicio:</strong> @Model.ProgramaVigente.FechaInicio.ToString("dd/MM/yyyy")</td>
                                        <td><strong>F.Fin:</strong> @Model.ProgramaVigente.FechaFin.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-5">
                            <div class="text-right">
                                <a id="btnAsignarModal" href="javascript:;" class="btn btn-primary-line">Asignar seleccionados</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive ">
                            <table id="tblOrdenesVenta" class="table table-striped table-header table-rounded">
                                <thead class="upper">
                                <tr>
                                    <th><input id="chkTodos" type="checkbox" class="checkbox-inline" /></th>
                                    <th class="hide"></th>
                                    <th>Orden de Venta</th>
                                    <th>Cliente</th>
                                    <th>Fecha de Entrega</th>
                                    <th>Estado</th>
                                    <th>Responsable</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.OrdenesVenta)
                                {
                                    <tr>
                                        <td class="tdSeleccionar">
                                            <input type="checkbox" class="checkbox-inline" />
                                        </td>
                                        <td class="tdIdOrdenVenta hide">@item.Id</td>
                                        <td>@item.Numero</td>
                                        <td>@item.Cliente</td>
                                        <td>@item.FechaEntrega.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Estado</td>
                                        <td>@item.NombreAsistentePlaneamiento</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br/>
        <br/>
    </main>
}

<div class="modal fade" id="modalAsignar">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-primary">Asignar ordenes de venta</h4>
            </div>
            <div class="modal-body" style="font-size: 0.9em;">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="text-primary">Ordenes de Venta</h3>
                        <div class="table-responsive" style="max-height: 150px;">
                            <table id="tblOrdenVentaModal" class="table table-striped table-header table-rounded table-condensed">
                                <thead class="upper">
                                <tr>
                                    <th>Sel.</th>
                                    <th class="hide"></th>
                                    <th>Número</th>
                                    <th>Cliente</th>
                                    <th>Fecha entrega</th>
                                    <th>Estado</th>
                                    <th>Responsable</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <br/>
                        <h3 class="text-primary">Asistentes de planeamiento</h3>
                        <div class="table-responsive" style="max-height: 150px;">
                            <table id="tblAsistentePlaneamientoModal" class="table table-striped table-header table-rounded table-condensed">
                                <thead class="upper">
                                <tr>
                                    <th>Sel.</th>
                                    <th class="hide">Id</th>
                                    <th>Usuario</th>
                                    <th>Nombre</th>
                                    <th>Cantidad OV</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a id="btnAsignar" href="javascript:;" class="btn btn-primary"><i class="ion-checkmark-round"></i> Asignar</a>
                <a href="javascript:;" class="btn btn-danger"><i class="ion-close-circled"></i> Cerrar</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var urlCrearOrdenProduccion = '@Url.Action("CrearOrdenProduccion")';

        $(function() {
            $("#chkTodos").on("click", function() {
                if ($(this).is(':checked')) {
                    $("#tblOrdenesVenta tr td:nth-child(1) input[type=checkbox]").prop("checked", true);
                } else {
                    $("#tblOrdenesVenta tr td:nth-child(1) input[type=checkbox]").prop("checked", false);
                }
            });
            $("#btnAsignarModal").on("click", function() {
                CargarModalAsignacion();
            });
        });

        function CargarModalAsignacion() {
            var ordenesVenta = new Array();

            $('#tblOrdenesVenta').find("tbody tr").each(function () {
                var seleccionado = $(this).find("td.tdSeleccionar input").is(':checked');
                if (seleccionado == true) {
                    var idOrdenVenta = parseInt($.trim($(this).find("td.tdIdOrdenVenta").text()));
                    ordenesVenta.push(idOrdenVenta);
                }
            });

            if (ordenesVenta.length > 0) {

                $("#modalAsignar").modal("show");
            } else {
                app.showMessageDialog("No selecciono ninguna orden de venta.");
            }
        }

    </script>
}