@model ProgramacionModel

@{

}

<header class="header-crumb">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <table class="table table-form">
                    <tbody>
                        <tr>
                            <td class="text-white"><strong>Programa Num.:</strong> 00000025447</td>
                            <td class="text-white"><strong>F.Inicio:</strong> 20/09/2015</td>
                            <td class="text-white"><strong>F.Fin:</strong> 26/09/2015</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-5">
                <div class="text-right">
                    <a href="javascript:;" class="btn btn-primary-line"><i class="ion-ios-close-outline"></i> Anular Programa</a>
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <section>
        <div class="container">
            <div class="well">
                <h3 class="text-primary">Ordenes de Venta por atender</h3>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive ">
                        <table class="table table-striped table-header table-rounded">
                            <thead class="upper">
                                <tr>
                                    <th class="hide"></th>
                                    <th>Orden de Venta</th>
                                    <th>Cliente</th>
                                    <th>Fecha de Entrega</th>
                                    <th>Estado</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrdenesVenta)
                                {
                                    <tr>
                                        <td class="hide">@item.Id</td>
                                        <td>@item.Numero</td>
                                        <td>@item.Cliente</td>
                                        <td>@item.FechaEntrega.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Estado</td>
                                        <td>
                                            @if (item.Estado.ToUpper() == "PENDIENTE")
                                            {
                                                <a href="javascript:;" class="btn-link" onclick="CrearOrdenProduccion('@item.Numero');">Crear OP</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />

    <section>
        <div class="container">
            <div class="well">
                <h3 class="text-primary">Ordenes de Producción Generadas</h3>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive ">
                        <table class="table table-striped table-header table-rounded">
                            <thead class="upper">
                            <tr>
                                <th class="hide"></th>
                                <th>Num. OP</th>
                                <th>Num. OV</th>
                                <th>F.Entrega</th>
                                <th>Producto</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model.OrdenesProduccion)
                            {
                                <tr>
                                    <td class="hide">@item.Id</td>
                                    <td>
                                        <a href="javascript:;" class="btn-link" onclick=" VerOrdenProduccion('@item.Numero') ">@item.Numero</a>
                                    </td>
                                    <td>@item.NumeroOrdenVenta</td>
                                    <td>@item.FechaEntrega.ToString("dd/MM/yyyy")</td>
                                    <td>@item.DescripcionProducto</td>
                                    <td>@item.Estado</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br/>
    <br/>
</main>

@section scripts{
    <script type="text/javascript">

        var urlCrearOrdenProduccion = '@Url.Action("CrearOrdenProduccion")';
        var urlVerOrdenProduccion = '@Url.Action("VerOrdenProduccion")';

        $(function () {

        });

        function VerOrdenProduccion(numero) {
            window.location.href = urlVerOrdenProduccion + '?numero=' + numero;
        }

        function CrearOrdenProduccion(numero) {
            window.location.href = urlCrearOrdenProduccion + '?numero=' + numero;
        }

    </script>
}