@model OrdenProduccionModel

@{
    ViewBag.MenuActual = ConstantesWeb.Menu.Programacion;
    ViewBag.MenuItemActual = ConstantesWeb.MenuItem.MantenerOrdenProduccion;
}

@Html.HiddenFor(p => p.Id)
@Html.HiddenFor(p => p.IdOrdenVenta)
@Html.HiddenFor(p => p.IdProducto)
@Html.HiddenFor(p => p.CantidadProducto)
@Html.HiddenFor(p => p.CantidadOrdenVenta)

<header class="header-crumb">
    <div class="container">
        <h2>Orden de Producción</h2>
    </div>
</header>

<main id="mainOrdenProduccion">
    <section>
        <div class="container">
            <div class="well">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-form">
                            <tbody>
                                <tr>
                                    <td><strong>Num. OV:</strong> @Model.NumeroOrdenVenta</td>
                                    <td><strong>F.Entrega:</strong> @Model.FechaEntrega.ToString("dd/MM/yyyy")</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><strong>Producto:</strong> @Model.DescripcionProducto</td>
                                    <td><strong>Cantidad OV:</strong> @Model.CantidadOrdenVenta</td>
                                    <td><strong>Stock:</strong> @Model.StockProducto</td>
                                    <td><strong>Stock Mínimo:</strong> @Model.StockMinimoProducto</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="well">
                <div class="row">
                    <div class="col-xs-9">
                        <table class="table table-form">
                            <tr>
                                <td>
                                    <strong>Elegir:</strong>
                                </td>
                                @if (Model.CantidadProducto <= 0)
                                {
                                    <td>
                                        <label for="chkTomarStock">
                                            <input id="chkTomarStock" type="radio" class="checkbox-inline" checked="checked" name="elegir" /> Tomar de stock
                                        </label>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <label for="chkHaProducir">
                                            <input id="chkHaProducir" type="radio" class="checkbox-inline" checked="checked" name="elegir" /> Ha Producir
                                        </label>
                                    </td>
                                    <td>
                                        <div class="col-xs-5">
                                            <input id="txtLimiteProduccion" type="text" class="form-control" value="@Model.CantidadProducto" data-value-max="@(Model.CantidadProducto + 1000)" data-value-min="@Model.CantidadProducto" onkeypress="return ValidarSoloNumeros(event);" />
                                        </div>
                                    </td>
                                }
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="divDetalleProduccion">

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive ">
                            <table id="tblMateriales" class="table table-striped table-header table-rounded">
                                <thead class="upper">
                                    <tr>
                                        <th class="hide"></th>
                                        <th>Material Requerido</th>
                                        <th>Stock</th>
                                        <th>Stock Mín.</th>
                                        <th class="hide">Requerido por Unidad</th>
                                        <th>Requerido</th>
                                        <th>Reservado</th>
                                        <th>Comprar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var material in Model.Materiales)
                                    {
                                        <tr>
                                            <td class="IdMaterial hide">@material.IdMaterial</td>
                                            <td class="DescripcionMaterial">@material.DescripcionMaterial</td>
                                            <td class="StockMaterial">@material.Stock</td>
                                            <td class="StockMinimoMaterial">@material.StockMinimo</td>
                                            <td class="RequeridoMaterialPorUnidad hide">@material.Requerido</td>
                                            <td class="RequeridoMaterial">@material.Requerido</td>
                                            <td class="ReservadoMaterial">@material.Reservado</td>
                                            <td class="ComprarMaterial">
                                                <input type="text" class="form-control cantidadCompra" value="@material.Comprar" style="width: 150px;" data-value-min="0" onkeypress=" return ValidarSoloNumeros(event); " />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br />

        <section>
            <div class="container">
                <div class="well">
                    <div class="row">
                        <div class="col-sm-6">
                            <h4 class="text-primary upper">Secuencia</h4>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-right">
                                @if (Model.Id == 0)
                                {
                                    <a id="btnAgregarMaquina" href="javascript:;" class="btn btn-primary-line"><i class="ion-plus-round"></i> Agregar Maquina</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive ">
                            <table id="tblSecuencia" class="table table-striped table-header table-rounded">
                                <thead class="upper">
                                    <tr>
                                        <th class="hide">Id</th>
                                        <th style="width: 5%;">Sec.</th>
                                        <th style="width: 20%;">Maquina</th>
                                        <th style="width: 12%;">% Falla</th>
                                        <th style="width: 12%;">Tiempo (hrs.)</th>
                                        <th style="width: 24%;">F.Inicio</th>
                                        <th style="width: 20%;">F.Fin</th>
                                        @if (Model.Id == 0)
                                        {
                                            <th style="width: 7%;">Eliminar</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var secuencia in Model.Secuencia)
                                    {
                                        <tr>
                                            <td class="tdIdMaquina hide">@secuencia.IdMaquina</td>
                                            <td class="tdSecuencia">@secuencia.Secuencia</td>
                                            <td class="tdDescripcionMaquina">@secuencia.DescripcionMaquina</td>
                                            <td>@secuencia.PorcentajeFalla</td>
                                            <td class="tdTiempoMaquina">@secuencia.Tiempo</td>
                                            <td class="tdFechaInicio">
                                                @secuencia.FechaInicio.ToString("dd/MM/yyyy HH:mm")
                                            </td>
                                            <td class="tdFechaFin">
                                                @secuencia.FechaFin.ToString("dd/MM/yyyy HH:mm")
                                            </td>
                                            @if (Model.Id == 0)
                                            {
                                                <td>
                                                    <a href="javascript:;" class="btn btn-primary-line btnEliminarMaquina"><i class="ion-trash-a"></i></a>
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br />
    </div>

    <section>
        <div class="container">
            <div class="well">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-right">
                            <a id="btnCerrar" href="javascript:;" class="btn btn-primary-line"><i class="ion-close-round"></i> Cerrar</a>
                            @if (Model.Id == 0)
                            {
                                <a id="btnGuardar" href="javascript:;" class="btn btn-primary-line"><i class="ion-checkmark-round"></i> Guardar</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div class="modal fade" id="modalAgregarMaquina">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-primary">Agregar Maquina</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive ">
                            <table id="tblMaquinas" class="table table-striped table-header table-rounded">
                                <thead class="upper">
                                    <tr>
                                        <th class="hide"></th>
                                        <th></th>
                                        <th>
                                            <input id="txtBuscarDescripcion" type="text" class="form-control" placeholder="Maquina" />
                                        </th>
                                        <th>
                                            <input id="txtBuscarTipo" type="text" class="form-control" placeholder="Tipo" />
                                        </th>
                                        <th>
                                            <input id="txtBuscarPLD" type="text" class="form-control" placeholder="PLC" />
                                        </th>
                                        <th>
                                            <input id="txtBuscarConfiguracion" type="text" class="form-control" placeholder="Config." />
                                        </th>
                                        <th>
                                            <a id="btnBuscarMaquina" href="javascript:;" class="btn btn-primary-line"><i class="ion-ios-search-strong"></i> Buscar</a>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="hide">Id</th>
                                        <th class="hide">% Falla</th>
                                        <th class="hide">Tiempo</th>
                                        <th>Sel.</th>
                                        <th>Maquina</th>
                                        <th>Tipo</th>
                                        <th>PLC</th>
                                        <th>Config.</th>
                                        <th>Ver</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-danger" data-dismiss="modal"><i class="ion-close-circled"></i> Cerrar</a>
                <a id="btnSeleccionarMaquina" href="javascript:;" class="btn btn-primary"><i class="ion-plus-round"></i> Seleccionar</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfiguracionMaquina">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-primary">Configuración de Maquina: <span id="spaDescripcionMaquina"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Tipo:</label>
                                <div class="col-md-8">
                                    <input id="txtTipoMaquina" type="text" class="form-control" readonly="readonly" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">PLC:</label>
                                <div class="col-md-8">
                                    <input id="txtPDLMaquina" type="text" class="form-control" readonly="readonly" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Estado:</label>
                                <div class="col-md-8">
                                    <input id="txtEstadoMaquina" type="text" class="form-control" readonly="readonly" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Reducción desde:</label>
                                <div class="col-md-4">
                                    <input id="txtReduccionDesdeMaquina" type="text" class="form-control" readonly="readonly" />
                                </div>
                                <div class="col-md-4">
                                    <input id="txtReduccionHastaMaquina" type="text" class="form-control" readonly="readonly" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Cant. de Rodillo:</label>
                                <div class="col-md-8">
                                    <input id="txtCantidadRodilloMaquina" type="text" class="form-control" readonly="readonly" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Max. frio:</label>
                                <div class="col-md-8">
                                    <input id="txtMaxFrioMaquina" type="text" class="form-control" readonly="readonly" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Min. caliente:</label>
                                <div class="col-md-8">
                                    <input id="txtMinCalienteMaquina" type="text" class="form-control" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-danger" data-dismiss="modal"><i class="ion-close-circled"></i> Cerrar</a>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        var urlCerrar = '@Url.Action("MantenerOrdenProduccion")';
        var urlBuscarMaquina = '@Url.Action("BuscarMaquina")';
        var urlObtenerMaquina = '@Url.Action("ObtenerMaquina")';
        var urlGuardar = '@Url.Action("GuardarOrdenProduccion")';
        var urlValidarHorario = '@Url.Action("ValidarHorarioMaquina")';

        $(function () {

            $("#chkTomarStock").change(function () {
                RevisarCheckboxes();
            });

            $("#txtLimiteProduccion").on("blur", function () {
                ValidarCantidadLimiteProduccion();
            });

            $(".cantidadCompra").on("blur", function () {
                ValidarCantidadMinimoCompraMaterial(this);
            });

            $("#btnAgregarMaquina").on("click", function () {
                AgregarMaquina();
            });

            $("#btnBuscarMaquina").on("click", function () {
                BuscarMaquina();
            });

            $("#btnSeleccionarMaquina").on("click", function () {
                SeleccionarMaquina();
            });

            $("body").on("click", ".btnEliminarMaquina", function () {
                EliminarMaquina(this);
            });

            $("body").on("change", ".tdFechaInicio input", function () {
                AsignarFechaHoraFin(this);
            });

            $("body").on("blur", ".tdFechaInicio input", function () {
                ValidarHorarioMaquina(this);
            });

            $("#btnGuardar").on("click", function () {
                if (Validar() == true) {
                    app.showConfirmDialog("Generar orden de producción", function () {
                        Guardar();
                    });
                }
            });

            $("#btnCerrar").on("click", function () {
                Cerrar();
            });

            RevisarCheckboxes();
            CalcularCantidadCompraMaterial();

            if ($("#Id").val() != 0) {
                app.disableAllFormElements("mainOrdenProduccion");
            }
        });

        function RevisarCheckboxes() {
            if ($("#chkTomarStock").attr("checked") == "checked") {
                $("#divDetalleProduccion").hide();
            } else {
                $("#divDetalleProduccion").show();
            }
        }

        function ValidarSoloNumeros(e) {
            var tecla = (document.all) ? e.keyCode : e.which;
            if (tecla == 8) return true;
            var patron = /[0-9]/;
            var te = String.fromCharCode(tecla);
            return patron.test(te);
        }

        function ValidarCantidadLimiteProduccion(soloValidar) {
            var valor = parseInt($("#txtLimiteProduccion").val());
            var valorMax = parseInt($("#txtLimiteProduccion").attr("data-value-max"));
            var valorMin = parseInt($("#txtLimiteProduccion").attr("data-value-min"));

            if (valor >= valorMin && valor <= valorMax) {
                if (soloValidar != 1) {
                    CalcularCantidadCompraMaterial();
                }
                return true;
            } else {
                app.showMessageDialog("Ud. debe ingresar un valor como máximo de " + valorMax + " y como mínimo de " + valorMin);
                return false;
            }
        }

        function CalcularCantidadCompraMaterial() {
            var cantidadHaProducir = parseInt($("#txtLimiteProduccion").val());

            $("#tblMateriales tbody tr").each(function (index, item) {
                var stock = parseInt($(this).find("td.StockMaterial").text());
                var stockMinimo = parseInt($(this).find("td.StockMinimoMaterial").text());
                var requerido = parseInt($(this).find("td.RequeridoMaterialPorUnidad").text());
                var reservado = requerido;

                if (stock < requerido) {
                    reservado = stock;
                }
                //requerido = cantidadHaProducir * requerido;
                $(this).find("td.ReservadoMaterial").text(reservado);

                var comprar = 0;
                if (requerido + stockMinimo > stock) {
                    comprar = requerido + stockMinimo - stock;
                }
                if (comprar < 0) {
                    comprar = 0;
                }

                $(this).find("td.ComprarMaterial input").val(comprar);
                $(this).find("td.ComprarMaterial input").attr("data-value-min", comprar);
            });
        }

        function ValidarCantidadMinimoCompraMaterial(input) {
            var descripcion = $(input).parent().parent().find("td.DescripcionMaterial").text();
            var valorMin = parseInt($(input).attr("data-value-min"));
            var valor = parseInt($(input).val());
            if (valor < valorMin) {
                app.showMessageDialog("Para el Material: " + descripcion + " debe ingresar una cantidad de compra como minimo de: " + valorMin);
                return false;
            }
            return true;
        }

        function AgregarMaquina() {
            $("#tblMaquinas thead tr th input").val("");
            $("#tblMaquinas tbody").html("");
            $("#modalAgregarMaquina").modal("show");
        }

        function BuscarMaquina() {
            var parametros = {
                descripcion: $("#txtBuscarDescripcion").val(),
                tipo: $("#txtBuscarTipo").val(),
                pld: $("#txtBuscarPLD").val(),
                configuracion: $("#txtBuscarConfiguracion").val()
            };

            $.ajax({
                type: 'POST',
                url: urlBuscarMaquina,
                data: JSON.stringify(parametros),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $("#tblMaquinas tbody").html("");

                    if (response.Success == true) {
                        $.each(response.Data, function (index, item) {
                            var tr = "<tr>";
                            tr += "<td class=\"tdIdMaquina hide\">" + item.Id + "</td>";
                            tr += "<td class=\"tdPorcentajeFallaMaquina hide\">" + item.PorcentajeFalla + "</td>";
                            tr += "<td class=\"tdTiempoMaquina hide\">" + item.Tiempo + "</td>";
                            tr += "<td class=\"tdSeleccionar\"><input type=\"radio\" name=\"seleccionar\" class=\"checkbox-inline\" /></td>";
                            tr += "<td class=\"tdDescripcionMaquina\">" + item.Descripcion + "</td>";
                            tr += "<td>" + item.Tipo + "</td>";
                            tr += "<td>" + item.PLD + "</td>";
                            tr += "<td>" + item.Configuracion + "</td>";
                            tr += "<td><a href=\"javascript:;\" class=\"btn-link\" onclick=\"ConfiguracionMaquina(" + item.Id + ");\"><i class=\"ion-share\"></i> Ver config.</a></td>";
                            tr += "</tr>";

                            $("#tblMaquinas tbody").append(tr);
                        });
                    } else {
                        app.showMessageDialog(response.Message);
                    }
                },
                error: function (x, xh, xhr) {
                    console.error(xh);
                }
            });
        }

        function ConfiguracionMaquina(idMaquina) {
            var parametros = { idMaquina: idMaquina };

            $.ajax({
                type: 'POST',
                url: urlObtenerMaquina,
                data: JSON.stringify(parametros),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    if (response.Success == true) {
                        var maquina = response.Data;

                        $("#spaDescripcionMaquina").text(maquina.Descripcion);
                        $("#txtTipoMaquina").val(maquina.Tipo);
                        $("#txtPDLMaquina").val(maquina.PLD);
                        $("#txtEstadoMaquina").val(maquina.Estado);
                        $("#txtReduccionDesdeMaquina").val(maquina.ReduacionInicio);
                        $("#txtReduccionHastaMaquina").val(maquina.ReduacionFin);
                        $("#txtCantidadRodilloMaquina").val(maquina.CantidadRodillos);
                        $("#txtMaxFrioMaquina").val(maquina.MaximoFrio);
                        $("#txtMinCalienteMaquina").val(maquina.MaximoCaliente);

                        $("#modalConfiguracionMaquina").modal("show");
                    } else {
                        app.showMessageDialog(response.Message);
                    }
                },
                error: function (x, xh, xhr) {
                    console.error(xh);
                }
            });
        }

        function SeleccionarMaquina() {
            $('#tblMaquinas').find("tbody tr").each(function () {
                var seleccionado = $(this).find("td.tdSeleccionar input").is(':checked');
                if (seleccionado == true) {

                    var idMaquina = $(this).find("td.tdIdMaquina").text();

                    var existe = false;
                    $("#tblSecuencia").find("tbody tr").each(function (index, item) {
                        var idMaquinaActual = $(this).find("td.tdIdMaquina").text();
                        if (idMaquina == idMaquinaActual) {
                            existe = true;
                        }
                    });

                    if (!existe) {
                        var descripcion = $(this).find("td.tdDescripcionMaquina").text();
                        var porcentajeFalla = $(this).find("td.tdPorcentajeFallaMaquina").text();
                        var tiempo = $(this).find("td.tdTiempoMaquina").text();

                        var tr = "<tr>";
                        tr += "<td class=\"tdIdMaquina hide\">" + idMaquina + "</td>";
                        tr += "<td class=\"tdSecuencia\"></td>";
                        tr += "<td class=\"tdDescripcionMaquina\">" + descripcion + "</td>";
                        tr += "<td>" + porcentajeFalla + " %</td>";
                        tr += "<td class=\"tdTiempoMaquina\">" + tiempo + "</td>";
                        tr += "<td class=\"tdFechaInicio\"><input class=\"txtFecha\" type=\"datetime-local\" /><span class=\"hide\"></span></td>";
                        tr += "<td class=\"tdFechaFin\"></td>";
                        tr += "<td><a href=\"javascript:;\" class=\"btn btn-primary-line btnEliminarMaquina\"><i class=\"ion-trash-a\"></i></a></td>";
                        tr += "</tr>";
                        $("#tblSecuencia tbody").append(tr);

                        var newRow = $("#tblSecuencia tbody tr:last");
                        var prevRow = newRow.prev();
                        if (prevRow.length > 0) {
                            var fechaFin = prevRow.find("td.tdFechaFin").text(); //dd-MM-yyyy hh:mm

                            var fechaInput = fechaFin.substr(0, 10).split("/"); 
                            var tiempoInput = fechaFin.substr(11, 5).split(":");

                            var anio = parseInt(fechaInput[2]);
                            var mes = parseInt(fechaInput[1]) - 1;
                            var dia = parseInt(fechaInput[0]);
                            var hora = parseInt(tiempoInput[0]);
                            var minuto = parseInt(tiempoInput[1]);

                            var fecha = new Date(anio, mes, dia, hora, minuto);
                            fecha.setMinutes(fecha.getMinutes() + 1);

                            var fechaInicioInput = newRow.find("td.tdFechaInicio input.txtFecha");
                            fechaInicioInput.val(fecha.yyyymmddhhmm2());
                            
                            AsignarFechaHoraFin(fechaInicioInput[0]);
                        }
                    }
                }
            });
            ActualizarSecuenciaMaquina();
            $("#modalAgregarMaquina").modal("hide");
        }

        function AsignarFechaHoraFin(input) {
            var fechaInput = $(input).val().split("-"); //yyyy-MM-ddThh:mm
            var tiempoInput = fechaInput[2].split("T");

            var anio = parseInt(fechaInput[0]);
            var mes = parseInt(fechaInput[1]) - 1;
            var dia = parseInt(tiempoInput[0]);
            var hora = parseInt(tiempoInput[1].split(":")[0]);
            var minuto = parseInt(tiempoInput[1].split(":")[1]);

            var fecha = new Date(anio, mes, dia, hora, minuto);
            $(input).parent().parent().find("td.tdFechaInicio span").text(fecha.yyyymmddhhmm());

            var tiempoAgregar = $(input).parent().parent().find("td.tdTiempoMaquina").text();
            var horaAgregar = parseInt(tiempoAgregar.split(":")[0]);
            var minutoAgregar = parseInt(tiempoAgregar.split(":")[1]);

            fecha.setMinutes(fecha.getMinutes() + minutoAgregar);
            fecha.setHours(fecha.getHours() + horaAgregar);

            $(input).parent().parent().find("td.tdFechaFin").text(fecha.yyyymmddhhmm());
        }

        function ValidarHorarioMaquina(input) {
            var resultado = true;

            var fechaInput = $(input).val().split("-"); //yyyy-MM-ddThh:mm
            var tiempoInput = fechaInput[2].split("T");

            var anio = parseInt(fechaInput[0]);
            var mes = parseInt(fechaInput[1]) - 1;
            var dia = parseInt(tiempoInput[0]);
            var hora = parseInt(tiempoInput[1].split(":")[0]);
            var minuto = parseInt(tiempoInput[1].split(":")[1]);

            var fecha = new Date(anio, mes, dia, hora, minuto);

            var fechaInicio = fecha.yyyymmddhhmm();
            var fechaFin = $(input).parent().parent().find("td.tdFechaFin").text();
            var idMaquina = $(input).parent().parent().find("td.tdIdMaquina").text();
            var nombreMaquina = $(input).parent().parent().find("td.tdDescripcionMaquina").text();

            var model = {
                idMaquina: idMaquina,
                fechaInicio: fechaInicio,
                fechaFin: fechaFin
            };

            $.ajax({
                type: 'POST',
                url: urlValidarHorario,
                data: JSON.stringify(model),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                async: false,
                success: function (response) {
                    if (response.Success == true) {
                        if (response.Data != 0) {
                            app.showMessageDialog("El horario de reserva de la máquina " + nombreMaquina + " no se encuentra disponible porque existe otra OP que la mantendra ocupada.");
                            resultado = false;
                        }
                    } else {
                        app.showMessageDialog(response.Message);
                        resultado = false;
                    }
                },
                error: function (x, xh, xhr) {
                    console.error(xh);
                    resultado = false;
                }
            });
            return resultado;
        }

        function EliminarMaquina(a) {
            app.showConfirmDialog("Desea quitar la Maquina?", function () {
                $(a).parent().parent().remove();
                ActualizarSecuenciaMaquina();
            });
        }

        function ActualizarSecuenciaMaquina() {
            $("#tblSecuencia").find("tbody tr").each(function (index, item) {
                $(this).find("td.tdSecuencia").html((index + 1));
            });
        }

        function Guardar() {
            var model = {
                IdOrdenVenta: $("#IdOrdenVenta").val(),
                IdProducto: $("#IdProducto").val(),
                CantidadProducto: $("#CantidadProducto").val(),
                CantidadOrdenVenta: $("#CantidadOrdenVenta").val(),
                TomarStock: $("#chkTomarStock").is(':checked'),
                Materiales: new Array(),
                Secuencia: new Array()
            }

            $("#tblMateriales").find("tbody tr").each(function (index, item) {
                model.Materiales.push({
                    IdMaterial: parseInt($(this).find("td.IdMaterial").text()),
                    Requerido: parseInt($(this).find("td.RequeridoMaterial").text()),
                    Comprar: parseInt($(this).find("td.ComprarMaterial input").val())
                });
            });

            $("#tblSecuencia").find("tbody tr").each(function (index, item) {
                model.Secuencia.push({
                    Secuencia: parseInt($(this).find("td.tdSecuencia").text()),
                    IdMaquina: parseInt($(this).find("td.tdIdMaquina").text()),
                    FechaInicioStr: $(this).find("td.tdFechaInicio span").text(),
                    FechaFinStr: $(this).find("td.tdFechaFin").text()
                });
            });

            $.ajax({
                type: 'POST',
                url: urlGuardar,
                data: JSON.stringify(model),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    if (response.Success == true) {
                        if ($("#chkTomarStock").is(':checked')) {
                            app.showMessageDialog("No se genero la Orden de Producción porque se toma del Stock del producto.", Cerrar());
                        } else {
                            var mensaje = "Orden de Producción Generada Nro. OP" + response.Data + "<br />";
                            mensaje += "";
                            mensaje += "";
                            app.showMessageDialog(mensaje, Cerrar());
                        }
                    } else {
                        app.showMessageDialog(response.Message);
                    }
                },
                error: function (x, xh, xhr) {
                    console.error(xh);
                }
            });
        }

        function Cerrar() {
            window.location.href = urlCerrar;
        }

        function Validar() {
            if ($("#chkTomarStock").is(":checked")) {
                return true;
            }
            var result = true;

            if ($("#txtLimiteProduccion").val() == "") {
                app.showMessageDialog("Debe ingresar la cantidad ha producir (Límite de venta).");
                result = false;
            } else {
                result = ValidarCantidadLimiteProduccion(1);
            }

            if (result == true) {
                $("#tblMateriales tbody tr").each(function (index, item) {
                    var inputCompra = $(this).find("td.ComprarMaterial input");
                    if (ValidarCantidadMinimoCompraMaterial(inputCompra) == false) {
                        result = false;
                        return;
                    }
                });
            }

            if (result == true) {
                if ($("#tblSecuencia").find("tbody tr").length == 0) {
                    app.showMessageDialog("Debe agregar Maquinas a las Secuencia.");
                    result = false;
                } else {
                    $("#tblSecuencia").find("tbody tr").each(function (index, item) {
                        var descripcionMaquina = $(this).find("td.tdDescripcionMaquina").text();
                        if ($(this).find("td.tdFechaInicio span").text() == "") {
                            app.showMessageDialog("La Maquina: " + descripcionMaquina + " no tiene asignado una valor de Fecha de Inicio.");
                            result = false;
                            return;
                        }

                        var inputFecha = $(this).find("td.tdFechaInicio input");
                        var horarioValido = ValidarHorarioMaquina(inputFecha);
                        if (!horarioValido) {
                            result = false;
                            return;
                        }
                    });
                }
            }

            return result;
        }

        Date.prototype.yyyymmddhhmm = function () {
            var yyyy = this.getFullYear();
            var mm = this.getMonth() < 9 ? "0" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based
            var dd = this.getDate() < 10 ? "0" + this.getDate() : this.getDate();
            var hh = this.getHours() < 10 ? "0" + this.getHours() : this.getHours();
            var min = this.getMinutes() < 10 ? "0" + this.getMinutes() : this.getMinutes();
            return "".concat(dd).concat("/").concat(mm).concat("/").concat(yyyy).concat(" ").concat(hh).concat(":").concat(min);
        };
        
        Date.prototype.yyyymmddhhmm2 = function () {
            var yyyy = this.getFullYear();
            var mm = this.getMonth() < 9 ? "0" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based
            var dd = this.getDate() < 10 ? "0" + this.getDate() : this.getDate();
            var hh = this.getHours() < 10 ? "0" + this.getHours() : this.getHours();
            var min = this.getMinutes() < 10 ? "0" + this.getMinutes() : this.getMinutes();
            return "".concat(yyyy).concat("-").concat(mm).concat("-").concat(dd).concat("T").concat(hh).concat(":").concat(min);
        };

    </script>
}
