@model AsignarOrdenProduccionModel

@{
    ViewBag.MenuActual = ConstantesWeb.Menu.Produccion;
    ViewBag.MenuItemActual = ConstantesWeb.MenuItem.AsignarOrdenProduccion;
}

@section styles{
    <style type="text/css">
        .well {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 10px;
        }
    </style>
}

@if (Model.ProgramaVigente == null)
{
    <header class="header-crumb">
        <div class="container">
            <h2>Asignar ordenes de producción</h2>
        </div>
    </header>

    <main>
        <section>
            <div class="well">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>No existe un Programa Vigente.</h3>
                    </div>
                </div>
            </div>
        </section>
    </main>
}
else
{
    <header class="header-crumb">
        <div class="container">
            <h2>Asignar ordenes de producción</h2>
        </div>
    </header>

    <main>
        <section>
            <div class="container">
                <div class="well">
                    <div class="row">
                        <div class="col-md-7">
                            <table class="table table-form">
                                <tbody>
                                    <tr>
                                        <td><strong>Programa N°:</strong> @Model.ProgramaVigente.Numero</td>
                                        <td><strong>F.Inicio:</strong> @Model.ProgramaVigente.FechaInicio.ToString("dd/MM/yyyy")</td>
                                        <td><strong>F.Fin:</strong> @Model.ProgramaVigente.FechaFin.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-5">
                            <div class="text-right">
                                <a id="btnAsignarModal" href="javascript:;" class="btn btn-primary-line">Asignar seleccionados</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="table-responsive ">
                            <table id="tblOrdenesProduccion" class="table table-striped table-header table-rounded">
                                <thead class="upper">
                                    <tr>
                                        <th><input id="chkTodos" type="checkbox" class="checkbox-inline" /></th>
                                        <th class="hide"></th>
                                        <th>Número OP</th>
                                        <th>Número OV</th>
                                        <th>Fecha de Entrega</th>
                                        <th>Producto</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.OrdenesProduccion)
                                    {
                                        <tr>
                                            <td class="tdSeleccionar">
                                                <input type="checkbox" class="checkbox-inline" />
                                            </td>
                                            <td class="tdIdOrdenProduccion hide">@item.Id</td>
                                            <td>
                                                <a href="javascript:;" class="btn-link" onclick="VerOrdenProduccion('@item.Numero')">@item.Numero</a>
                                            </td>
                                            <td>@item.NumeroOrdenVenta</td>
                                            <td>@item.FechaEntrega.ToString("dd/MM/yyyy")</td>
                                            <td>@item.DescripcionProducto</td>
                                            <td>@item.Estado</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <br />
        <br />
    </main>
}

<div class="modal fade" id="modalAsignar">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-primary">Asignar ordenes de venta</h4>
            </div>
            <div class="modal-body" style="font-size: 0.9em;">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-primary">Ordenes de Venta</h4>
                        <div class="table-responsive" style="max-height: 150px;">
                            <table id="tblOrdenesProduccionModal" class="table table-striped table-header table-rounded table-condensed">
                                <thead class="upper">
                                    <tr>
                                        <th>Sel.</th>
                                        <th class="hide"></th>
                                        <th>Número OP</th>
                                        <th>Número OV</th>
                                        <th>Fecha de Entrega</th>
                                        <th>Producto</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <br />
                        <h4 class="text-primary">Asistentes de planeamiento</h4>
                        <div class="table-responsive" style="max-height: 150px;">
                            <table id="tblOperadoresModal" class="table table-striped table-header table-rounded table-condensed">
                                <thead class="upper">
                                    <tr>
                                        <th>Sel.</th>
                                        <th class="hide">Id</th>
                                        <th>Usuario</th>
                                        <th>Nombre</th>
                                        <th>Cantidad OP</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Operadores)
                                    {
                                        <tr>
                                            <td class="tdSeleccionar">
                                                <input type="checkbox" class="checkbox-inline" />
                                            </td>
                                            <td class="tdIdOperador hide">@item.Id</td>
                                            <td>@item.Username</td>
                                            <td>@item.NombreCompleto</td>
                                            <td class="tdCantidadOP">@item.CantidadOP</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a id="btnAsignar" href="javascript:;" class="btn btn-primary"><i class="ion-checkmark-round"></i> Asignar</a>
                <a href="javascript:;" class="btn btn-danger" data-dismiss="modal"><i class="ion-close-circled"></i> Cerrar</a>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var urlGuardarAsignaciones = '@Url.Action("GuardarAsignaciones")';
        var urlVerOrdenProduccion = '@Url.Action("VerOrdenProduccion", "Programacion")';

        $(function () {
            $("#chkTodos").on("click", function () {
                if ($(this).is(':checked')) {
                    $("#tblOrdenesProduccion tr td:nth-child(1) input[type=checkbox]").prop("checked", true);
                } else {
                    $("#tblOrdenesProduccion tr td:nth-child(1) input[type=checkbox]").prop("checked", false);
                }
            });
            $("#btnAsignarModal").on("click", function () {
                CargarModalAsignacion();
            });
            $("#btnAsignar").on("click", function () {
                GuardarAsignaciones();
            });
        });

        function CargarModalAsignacion() {
            var ordenesProduccion = new Array();

            $('#tblOrdenesProduccion').find("tbody tr").each(function () {
                var seleccionado = $(this).find("td.tdSeleccionar input").is(':checked');
                if (seleccionado == true) {
                    var idOrdenProduccion = parseInt($.trim($(this).find("td.tdIdOrdenProduccion").text()));
                    ordenesProduccion.push(idOrdenProduccion);
                }
            });

            if (ordenesProduccion.length > 0) {
                $("#tblOrdenesProduccionModal tbody").html("");
                $('#tblOrdenesProduccion').find("tbody tr").each(function () {
                    $("#tblOrdenesProduccionModal tbody").append($(this).clone());
                });
                $("#modalAsignar").modal("show");
            } else {
                app.showMessageDialog("No selecciono ninguna orden de producción.");
            }
        }

        function GuardarAsignaciones() {
            var model = {
                OrdenesProduccion: new Array(),
                Operadores: new Array()
            };

            $('#tblOrdenesProduccionModal').find("tbody tr").each(function () {
                var seleccionado = $(this).find("td.tdSeleccionar input").is(':checked');
                if (seleccionado == true) {
                    var idOrdenProduccion = parseInt($.trim($(this).find("td.tdIdOrdenProduccion").text()));
                    model.OrdenesProduccion.push({
                        Id: idOrdenProduccion
                    });
                }
            });

            if (model.OrdenesProduccion.length == 0) {
                app.showMessageDialog("No selecciono ninguna orden de producción.");
                return;
            }

            $('#tblOperadoresModal').find("tbody tr").each(function () {
                var seleccionado = $(this).find("td.tdSeleccionar input").is(':checked');
                if (seleccionado == true) {
                    var idOperador = parseInt($.trim($(this).find("td.tdIdOperador").text()));
                    var cantidadOP = parseInt($.trim($(this).find("td.tdCantidadOP").text()));

                    model.Operadores.push({
                        Id: idOperador,
                        CantidadOP: cantidadOP
                    });
                }
            });

            if (model.Operadores.length == 0) {
                app.showMessageDialog("No selecciono ningun Operador.");
                return;
            }

            app.showConfirmDialog("Está seguro de realizar las asignaciones?", function () {
                $.ajax({
                    type: 'POST',
                    url: urlGuardarAsignaciones,
                    data: JSON.stringify(model),
                    dataType: 'json',
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        if (response.Success === true) {
                            app.showMessageDialog("Las asignaciones fueron registradas correctamente.", Refrescar);
                        } else {
                            app.showMessageDialog(response.Message);
                        }
                    },
                    error: function (x, xh, xhr) {
                        console.error(xh);
                    }
                });
            });
        }

        function Refrescar() {
            window.location.reload();
        }

        function VerOrdenProduccion(numero) {
            window.location.href = urlVerOrdenProduccion + '?numero=' + numero;
        }

    </script>
}